button {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid rgb(200, 200, 0 / 60%);
    background-color: rgb(127, 135, 142);
    color: white;
    box-shadow: 1px 1px 2px rgba(1, 1, 59, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}